<h2>Show essence</h2>

<ul>

  <li>
    <strong>Kind:</strong>
    <%= @essence.kind %>
  </li>

  <li>
    <strong>Codec:</strong>
    <%= @essence.codec %>
  </li>

  <li>
    <strong>Streams:</strong>
    <%= for stream <- @essence.streams do %>
      <div><%= stream.id %> - file_id: <%= stream.file_id %>, index <%= stream.index %></div>
    <% end %>
  </li>

</ul>

<%= link "Edit", to: essence_path(@conn, :edit, @essence) %>
<%= link "Back", to: essence_path(@conn, :index) %>
