<h2>Show file</h2>

<ul>

  <li>
    <strong>Path:</strong>
    <%= @file.path %>
  </li>

</ul>

<%= link "Edit", to: file_path(@conn, :edit, @file) %>
<%= link "Back", to: file_path(@conn, :index) %>
